.debut {
  color: red;
} /*couleur du texte*/
h1 {
  font-size: 1.3em; /* Paragraphes de 14 pixels */
}
p {
  font-family: impact, "Arial Black", Arial, Verdana, sans-serif;
}
salutations {
  font-style: oblique;
}
p {
  text-align: center;
}
h1 {
  text-align: center;
}
ol {
  text-align: center;
}
ul {
  text-align: center;
}
a {
  text-align: center;
}
.imageflottante {
  float: right;
}
h1 {
  color: maroon;
}
body {
  background-color: aqua;
}
mark {
  background-color: gold;
}
