.debut {
  color: red;
} /*couleur du texte*/
h1 {
  font-size: 1.3em; /* Paragraphes de 14 pixels */
}
p {
  font-family: impact, "Arial Black", Arial, Verdana, sans-serif;
}
salutations {
  font-style: oblique;
}
p {
  text-align: center;
  color: aqua;
}
h1 {
  text-align: center;
  color: aqua;
}
ol {
  text-align: center;
  color: aqua;
}
ul {
  text-align: center;
  color: aqua;
}
a {
  text-align: center;
}
.imageflottante {
  float: right;
}
h1 {
  color: maroon;
}

mark {
  background-color: gold;
}
body {
  background-image: url(doc/espace.jpg);

  background-attachment: fixed;
}
p {
  opacity: 0.6;
}
h1 {
  border: 4px red groove;
  border-radius: 4px;
}
h1 {
  box-shadow: 6px 4px 2px red;
}
a:hover {
  text-decoration: overline;
  color: aqua;
}
a:visited {
  color: lawngreen;
}
header {
  color: aqua;
}
figcaption {
  color: aqua;
}
.leslois {
  background-color: white;
}
.lesregle {
  background-color: white;
}
